.titler {
    background: lightgrey;
    height: auto;
    text-align: center;
    clear: both;
    overflow: auto;
    width: 100%;
}
.header {
    background: #1E4D2B;
    margin: 0;
    padding: 0px;
    clear: both;
    overflow: auto;
    width: 100%;
}
.headpic {
    height: 100px;
    width: 450px;

}
.footer {
    background: #1E4D2B;
    margin: 0;
    padding: 0px;
    clear: both;
    overflow: auto;
    width: 100%;
}
.staff-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    font-size: 11px;
}
.staff-box {
    width: 28%;
    text-align: center;
    border: 5px solid #1E4D2B;
    margin: 1%;
    background: #ccf1e7;
}

.staff-photo {
    padding: 10px;
    background: #fff;
}
.staff-text {
margin-bottom: 5px;
}
.staff-name {
    font-weight: bold;
    font-size: 16px;
}
.staff-title {
    margin-bottom: 5px;
    font-size: 14px;
}
.staff-email {
    color: #1E4D2B;
    margin-bottom: 10px;
}

@media (max-width: 37em) {
    .staff-box {
        width: 100%;
    }
}

